p {color: black;font-family:Helvetica, sans-serif; font-size: 16px;}
h3  {color:black; font-family:Helvetica, sans-serif; font-size:24px ;}
h2 {color:black; font-family:Helvetica, sans-serif; font-size:26px ;}
h1 {color:black; font-family:Helvetica, sans-serif; font-size: 36px;}
ol {color: black;font-family:Helvetica, sans-serif; font-size: 18px; }
body {background-color: rgb(190, 213, 238) ;}